node_modules

#Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Bower
.bower-cache
.bower-registry/bower.herokuapp.com/lookup
bower_components

# Test files
tests/results/
